name: Python Coverage
on:
  push:
    branches:
      - main:

permissions:
    pull-requests: write

jobs:
  python-converage:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v3
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.13'
        - name: Install dependencies
          run: |
            pip install requirements.txt
            pip install pytest
            pip install coverage=7.9
            pip install piptest-cov
        - name: Run tests and generate coverage details
          run: pytest --cov=src
        - name: Coverage comment
          uses: py-cov-action/python-coverage-comment@v2
            with:
                GITHUB_TOKEN: ${{ github.token }}
                MINIMUM_GREEN: 90
                MINIMUM_ORANGE: 70
        - name: Fail if below threshold
          run: coverage --fail-under=90
