name: review secrets findings in ghas

on:
  workflow_dispatch:

permissions:
  security-events: read

jobs:
  curl_to_github:
    runs-on: ubuntu-latest
    
    #outputs:
     # found_secret: ${{ steps.read_secret_scan.outputs.scanned_secret }}
      
    steps: 
      - name: Fetching GitHub PATs and verifying them
        # Get Github API response in .html_url, .secret_type, .secret format from https://api.github.com/repos/Raghaha/skills-test-with-actions/secret-scanning/alerts?secret_type=github_personal_access_token
        # API Doc: https://docs.github.com/en/rest/secret-scanning/secret-scanning
        run: |
          API_RESPONSE=${{ vars.GH_CURLNHEADER }} -H "Authorization: Bearer ${{ secrets.GHAS_PAT }}" ${{ vars.GH_QUERYFILTERS }}
          if [ -z "$API_RESPONSE" ]; then
            echo "No github PAT found."
            exit 0
          else
            echo "Github PAT found"
          fi
          
          echo "Validating extracted GitHub PAT..."
          echo ""
          
          for ROW in $API_RESPONSE; do
            
            GH_SECRET=$(echo ${ROW} | cut -d\, -f3)
            HTTP_STATUS=$(curl -s -I -H "Authorization: Bearer $GH_SECRET" ${{ vars.GH_VER_API }} | grep HTTP | cut -d\  -f2)
          
            if [ "$HTTP_STATUS" -eq 200 ]; then
              echo The extracted GitHub secret in $( echo ${ROW} | cut -d\, -f1) is valid.
              
            else
              echo The extracted GitHub secret in $( echo ${ROW} | cut -d\, -f1) is invalid.
              echo You can close the finding with suitable justification.
              
            fi
            
            echo ""
            echo ""
          
          done
