name: review secrets findings in ghas

on:
  workflow_dispatch:

permissions:
  security_events: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Run Secret Scanning Review Action
        uses: advanced-security/secret-scanning-review-action@v2
        with:
          token: ${{ secrets.GHAS_PAT }} 
          fail_on_alert: true
