name: review secrets findings in ghas

on:
  workflow_dispatch:
    inputs:
      Secret Type:
        type: choice
          options:
            - github_personal_access_token
            

permissions:
  security-events: read

jobs:
  curl_to_github:
    runs-on: ubuntu-latest
    
    #Hitting secret-scanning/alerts alerts api
    # Validation by hitting api.github.com/user and verifying the HTTP status code
          
      
    steps: 
      - name: Get github PATs
        #id: read_secret_scan
        run: |

          API_RESPONSE=$(curl -L -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GHAS_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/Raghaha/skills-test-with-actions/secret-scanning/alerts?secret_type=${{ github.event.inputs.Secret Type }} \
          | jq '.[]' | jq -r '[.html_url, .secret_type, .secret]| @csv')
          
          if [ -z "$API_RESPONSE" ]; then
            echo "No github PAT found."
            exit 0
          fi

          echo "Validating extracted GitHub PAT..."
          for ROW in $API_RESPONSE; do
            GH_SECRET=$(echo ${ROW} | cut -d\, -f3)
            HTTP_STATUS=$(curl -s -I -H "Authorization: Bearer $GH_SECRET" https://api.github.com/user | grep HTTP | cut -d\  -f2)
            
            if [ "$HTTP_STATUS" -eq 200 ]; then
              echo The extracted GitHub secret in $( echo ${ROW} | cut -d\, -f1) is valid.
              echo Consider this a P0/P1
              
            else
              echo The extracted GitHub secret in $( echo ${ROW} | cut -d\, -f1) is invalid.
              echo You can close the finding with suitable justification.
            fi
            
            echo ""
            echo ""
          done
