name: Review GH flagged secrets secret-type

on:
  workflow_dispatch:
    inputs:
      secret-type:
        description: 'What secret-type you want review today'
        required: true
        default: 'github_personal_access_token'
        type: choice
        options:
          - github_personal_access_token
          - aws_access_key_id
          - test_option
      work-item:
        description: 'you can input your JIRA number here'
        default: 'JSM / JIRA'
        type: string
            

permissions:
  security-events: read

jobs:
  validate_github_personal_access_token:
    if: ${{ github.event.inputs.secret-type == 'github_personal_access_token' }}
    runs-on: ubuntu-latest
    
    #Hitting secret-scanning/alerts alerts api
    #Validation by hitting api.github.com/user and verifying the HTTP status code
      
    steps: 
      - name: Fetch and validate flagged github PATs
        #id: read_secret_scan
        run: |

          API_RESPONSE=$(curl -L -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GHAS_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/Raghaha/skills-test-with-actions/secret-scanning/alerts?secret_type=${{ github.event.inputs.secret-type }} \
          | jq '.[]' | jq -r '[.html_url, .secret_type, .secret]| @csv')
          
          if [ -z "$API_RESPONSE" ]; then
            echo "No github PAT found."
            echo "Enjoy your day closing ${{ github.event.inputs.work-item }} "
            exit 0
          fi

        # echo "Validating extracted GitHub PAT..."
        # for ROW in $API_RESPONSE; do
        #   GH_SECRET=$(echo ${ROW} | cut -d\, -f3)
        #   HTTP_STATUS=$(curl -s -I -H "Authorization: Bearer $GH_SECRET" https://api.github.com/user | grep HTTP | cut -d\  -f2)
          
        #   if [ "$HTTP_STATUS" -eq 200 ]; then
        #     echo You have more work on ${{ github.event.inputs.work-item }} :(
        #     echo The extracted GitHub secret in $( echo ${ROW} | cut -d\, -f1) is valid.
        #     echo Consider this a P0/P1
            
        #   else
        #     echo enjoy your day with ${{ github.event.inputs.work-item }} - ${ROW}
        #     echo The extracted GitHub secret in $( echo ${ROW} | cut -d\, -f1) is invalid.
        #     echo You can close the finding with suitable justification.
        #   fi
          
        #   echo ""
        #   echo ""
         # done

  # validate_aws_access_key_id:
  #   if: ${{ github.event.inputs.secret-type == 'aws_access_key_id' }}
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Fetch and validate flagged AWS Access Keys
  #       run: |
        
  #         API_RESPONSE=$(curl -L -H "Accept: application/vnd.github+json" \
  #         -H "Authorization: Bearer ${{ secrets.GHAS_PAT }}" \
  #         -H "X-GitHub-Api-Version: 2022-11-28" \
  #         https://api.github.com/repos/Raghaha/skills-test-with-actions/secret-scanning/alerts?secret_type=${{ github.event.inputs.secret-type }})
          
  #         if [ -z "$API_RESPONSE" ]; then
  #           echo "No AWS Access Key IDs found."
  #           echo "Enjoy your day closing ${{ github.event.inputs.work-item }}"
  #           exit 0
  #         fi

  #         echo ""
  #         echo ""

          
  # validate_your_secret_type:
  #   if: ${{ github.event.inputs.secret-type == 'your_secret_type' }}
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Test Job
  #       run: |
  #         echo "this is a test job."
  #         echo "You can add your job to fetch and verify other secret types"
