name: review secrets findings in ghas

on:
  workflow_dispatch:

permissions:
  security-events: read

jobs:
  curl_to_github:
    runs-on: ubuntu-latest
    
    #outputs:
     # found_secret: ${{ steps.read_secret_scan.outputs.scanned_secret }}
      
    steps: 
      - name: curl and print
        #id: read_secret_scan
        run: |
          API_RESPONSE=$(curl -L -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer $TOKEN" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/Raghaha/skills-test-with-actions/secret-scanning/alerts \
          | jq '.[]' | jq -r '[.html_url, .secret_type, .secret]| @csv')
          
          
          if [ -z "$API_RESPONSE" ]; then
          echo "No secret scanning alerts found."
          elif [ -n "$(echo "$API_RESPONSE" | cut -d',' -f2 | grep "github" )" ]; then
          echo "Line contains github secrets"
          GH_SECRET=$(echo "$API_RESPONSE" | cut -d',' -f3)
          else
          echo "$API_RESPONSE - does not contain github secrets"
          fi
          
          if [ -n "$GH_SECRET" ]; then
          echo "Validating extracted GitHub secret..."
          HTTP_STATUS=$(curl -s -I -H "Authorization: Bearer $GH_SECRET" https://api.github.com/user | grep HTTP | cut -d\  -f2)
          if [ "$HTTP_STATUS" -eq 200 ]; then
          echo "The extracted GitHub secret is valid."
          else
          echo "The extracted GitHub secret is invalid."
          fi
          fi
