name: review secrets findings in ghas

on:
  workflow_dispatch:

permissions:
  security-events: read

jobs:
  job1:
    runs-on: ubuntu-latest
    
    outputs:
      found_secret: ${{ steps.read_secret_scan.outputs.SCANNED_SECRET }}
      
    steps: 
      - id: read_secret_scan
# SCANNED_SECRET="$(curl -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GHAS_PAT }}" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/Raghaha/skills-test-with-actions/secret-scanning/alerts | jq -r '.[].secret')"
        run: |
          SCANNED_SECRET="test"
          echo $SCANNED_SECRET >> "$GITHUB_OUTPUT"
  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: Verify the assignment
        run: echo "found secret is ${{needs.job1.outputs.SCANNED_SECRET}}"
