name: review secrets findings in ghas

on:
  workflow_dispatch:

permissions:
  security-events: read

jobs:
  curl_to_github:
    runs-on: ubuntu-latest
    
    #outputs:
     # found_secret: ${{ steps.read_secret_scan.outputs.scanned_secret }}
      
    steps: 
      - name: curl and print
        #id: read_secret_scan
        run: |
          API_RESPONSE=$(curl -L \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GHAS_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/Raghaha/skills-test-with-actions/secret-scanning/alerts')

          echo "===== Curl Response Start ====="
          echo $API_RESPONSE
          echo "===== Curl Response End ====="
          
