name: review secrets findings in ghas

on:
  workflow_dispatch:

permissions:
  security-events: read

jobs:
  curl_to_github:
    runs-on: ubuntu-latest
    
    #outputs:
     # found_secret: ${{ steps.read_secret_scan.outputs.scanned_secret }}
      
    steps: 
      - name: Get github PATs
        #id: read_secret_scan
        run: |
          API_RESPONSE=$(curl -L -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GHAS_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/Raghaha/skills-test-with-actions/secret-scanning/alerts?secret_type=github_personal_access_token \
          | jq '.[]' | jq -r '[.html_url, .secret_type, .secret]| @csv')
          
          
          if [ -z "$API_RESPONSE" ]; then
          echo "No github PAT found."
          else
          echo "Github PAT found"
          fi
          
          if [ -n "$API_RESPONSE" ]; then
          echo "Validating extracted GitHub PAT..."
          HTTP_STATUS=$(curl -s -I -H "Authorization: Bearer $GH_SECRET" https://api.github.com/user | grep HTTP | cut -d\  -f2)
          if [ "$HTTP_STATUS" -eq 200 ]; then
          echo "The extracted GitHub secret is valid."
          else
          echo "The extracted GitHub secret is invalid."
          fi
          fi
